<table class="table">
    <caption>Last inserted changes</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>User ID</th>
            <th>Field</th>
            <th>Old</th>
            <th>New</th>
        </tr>
    </thead>
    <tbody>
      <% @changes.each do |rec| %>
        <tr>
          <th scope="row"><%=rec.id%></th>
          <th><%=rec.model_id%></th>
          <td><%=rec.field%></td>
          <td><%=rec.old%></td>
          <td><%=rec[:new]%></td>
        </tr>
        <% end %>
    </tbody>
</table>
