<%= simple_form_for(@user, remote: true,
    url: url_for(action: 'update', controller: 'users'),
    html: { method: 'post', id: 'users-form' },
    authenticity_token: true)  do |f| %>

    <div id="editor"></div>

    <%= f.input_field :entry, label: false, class: 'form-control invisible', id: 'txt-entry' %>
    <%= f.submit 'Save', class: "btn btn-success btn-block btn-submit" %>

    <span class="result"></span>
<% end %>
