<div class="col-sm-6">
  <h3>Submit your JSON (Endpoint 1)</h3>
  <%= render 'users/form'%>
</div>


<div class="col-sm-6">
  <h3>Query differences (Endpoint 2)</h3>

  <div class="input-group">
    <div id="daterange" class="pull-right">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
        <span></span> <b class="caret"></b>
    </div>

    <span class="input-group-btn">
      <button class="btn btn-success btn-restrict" type="submit">Search</button>
      <button class="btn btn-success btn-search" type="submit">Search all</button>
    </span>
  </div>

  <div id="changes-list">
    <!-- List of changes placeholder -->
  </div>
</div>
