//= require jquery
//= require jquery_ujs
//= require_tree .

var editor = null;

$(function() {
  loadAceEditor();

  startRangePicker();

  loadChanges();

  // click event to sync editor with text hidden input
  $('.btn-submit').click(function() {
    json_parsed = editor.getValue();

    // reset submit result
    $('.result').text('');

    // test JSON
    try {
      JSON.parse(json_parsed);
    } catch (e) {
      $('.result').html("Your json sucks! Just kidding...but you have a " + e.name + "<br />" + e.message);
      return false;
    }

    // pass value
    $('#txt-entry').val(json_parsed);
  });

  $('.btn-search').click(function() {
    loadChanges();
  });

  $('.btn-restrict').click(function() {
    loadChanges(true);
  });

  $(document).on('ajax:success', '#users-form', function(e, data, status, error) {
    if (data == 'ok') {
      loadChanges();
    }
  }).on('ajax:error', '#users-form', function(e, data, status, error) {
    console.log(data);
    $('.result').text(data);
  });
});

function loadAceEditor() {
  initialJson = {"_id": 1, "name": "Bruce Norries", "address": {"street": "Some street"}};

  // load editor
  editor = ace.edit("editor");
  editor.getSession().setUseWorker(false);
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/json");
  editor.getSession().setTabSize(2);
  editor.getSession().setUseWrapMode(false);
  editor.setValue(JSON.stringify(initialJson, null, '\t'));
}

function startRangePicker() {
  var start = moment();
    var end = moment();

  function cb(start, end) {
    $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
  }

  $('#daterange').daterangepicker({
      startDate: start,
      endDate: end,
      ranges: {
         'Today': [moment(), moment()],
         'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
         'Last 7 Days': [moment().subtract(6, 'days'), moment()],
         'Last 30 Days': [moment().subtract(29, 'days'), moment()],
         'This Month': [moment().startOf('month'), moment().endOf('month')],
         'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      }
  }, cb);

  cb(start, end);
}

function loadChanges(restrict) {
  var from = $('#daterange').data('daterangepicker').startDate._d;
  var to = $('#daterange').data('daterangepicker').endDate._d;
  var is_restrict = (restrict != undefined);

  //update list
  $.ajax({
    url: '<%=changes_list_path%>.json',
    type: "GET",
    dataType: "html",
    data: {
      from: formatDate(from),
      to: formatDate(to),
      restrict: is_restrict
    },
    success: function(result) {
      $('#changes-list').html(result);
    },
    error: function(jqXHR, textStatus, errorThrown) {
      console.log($.parseJSON(jqXHR.responseText));
    }
  });
}

function formatDate(d) {
  return moment(d).format("YYYY-MM-DD");
}
