/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #editor {
   position: relative;
   height: 400px;
   width: 100%; }

.invisible { display: none; }

.result {
  color: red;
  padding-top: 30px; }

#daterange {
  background: #fff;
  cursor: pointer;
  padding: 6px 10px;
  border: 1px solid #ccc;
  width: 100% }
